html,body{
  height:100%;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height:100%;
  margin:0;
}

#timer{
  font-size: 100px;
}
